.container {
    background: var(--white) url('../../assets/images/Kitten.png') no-repeat fixed top left 445px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media (max-width: 445px) {
    .container {
        align-items: center;
    }
}
